.game_stats_page_row {
  width: 98%;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

.game_stats_page_row > div {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0, 0.5);
  overflow: hidden;
}

.block_header {
  height: 28px;
  background:#056146;
  text-align: center;
  width: 100%;
  color: aliceblue;
  font-size: medium;
}

