.game_stats_page_container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: #575757;
  height: 100%;
}

.game_stats_page_row {
  width: 98%;
  margin-top: 20px;
  margin-right: 1%;
  margin-left: 1%;
}