.win_bet {
    color: rgb(65, 228, 65);
}

.back_bet {
    color: rgb(236, 224, 51);
}

.lose_bet {
    color: rgb(220, 37, 37);
}

.user_bets_block h3 {
    color: #cbc4b5;
    padding-top: 30px;
    padding-left: 30px;
}

.user_bets_block {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin-top: 20px;
    border-radius: 5px;
}
