.match_statistics_table {
  width: 100%;
}

.match_statistics_table_container {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background: #575757;
  width: 48%;
  float: right;
}

.match_statistics_head {
  height: 30px;
  background:#0c815e;
  text-align: center;
  width: 100%;
  color: aliceblue;
}

.match_statistics_row {
  width: 100%;
}

.match_statistics_row_numbers {
  display: flex;
  justify-content: space-between;
  color: #c7c7c7;
  padding: 5px;
}

.match_statistics_row_grafics {
  display: flex;
  justify-content: space-between;
  background: #c7c7c7;
}

.match_statistics_row_grafics_cell {
  background: #575757;
  width: 50%;
}

.match_statistics_row_grafics_cell div {
  background: #c7c7c7;
  max-width: 99%;
}






