.match_statistics_table_container {
  background: #575757;
  width: 48%;
  float: right;
  color:aliceblue;
}

.match_statistics_row {
  width: 99%;
  margin-left: auto;
  margin-right: auto;
}

.match_statistics_row_grafics {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1px;
}

.match_statistics_row_grafics_cell {
  background: #575757;
  width: 50%;
}

.match_statistics_row_grafics_cell div {
  max-width: 99%;
}






