.games_block {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.games_table {
    border-color: #969696;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    height: 100%;
}

.date_line {
    color: #cbc4b5;
    padding-left: 30px;
    background-color: #757575;
}