.bets_table {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.bets_table_content {
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    justify-content: space-between;
    width: 100%
}

.bets_table_content a {
    color: #cbc4b5;
    background: #666666;
    text-decoration: none;
    display: flex;
    width: 24.8%;
}

.bets_table_content a div {
    width: 50%;
    text-align: center;
}