.date_button {
    width: 30%
}

.date_button input {
    height: 32px;
    margin-top: 0.5%;
    margin-left: 1%;
}

.date_button button {
    height: 32px;
    margin-top: 0.5%;
    margin-left: 1%;
}

.date_button button {
    width: 30%;
    background: rgb(243, 243, 0);
    color: black;
    border: none;
    padding-top: 0px;
    padding-bottom: 0px;
}

.date_button button:hover {
    cursor: pointer;
}

.date_button input {
    border: none;
    border-radius: 2px;
}