.analysis_block_table_container {
  width: 49%;
  float: left;
}

.analysis_block_table {
  background: #575757;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.analysis_block_head {
  height: 30px;
  background:#0c815e;
  text-align: center;
  width: 100%;
  color: aliceblue;
}

.analysis_block_columns_names {
  height: 28px;
  border-bottom: 2px solid #757575;
}

.analysis_block_row {
  display: flex;
  justify-content: space-around;
  color: #c7c7c7;
  height: 24px;
  border-top: 1px solid #757575;
}

.analysis_block_cell{
  text-align: center;
  max-width: 50%;
  min-width: 50%;
}

.last_game_block_row {
  display: flex;
  justify-content: space-around;
  color: #c7c7c7;
  height: 48px;
  border-top: 1px solid #757575;
}

.last_game_block_column_names {
  display: flex;
  justify-content: space-around;
  color: #c7c7c7;
  height: 48px;
  border-bottom: 2px solid #757575;
}

.last_games_block_date_cell {
  text-align: center;
  font-size: small;
  max-width: 12%;
  min-width: 12%;
}

.last_games_block_team_cell {
  text-align: center;
  max-width: 24%;
  min-width: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.last_games_block_teams_name_cell {
  text-align: center;
  max-width: 24%;
  min-width: 24%;
}

.last_games_block_score_cell {
  text-align: center;
  max-width: 10%;
  min-width: 10%;
}

.last_games_block_cell {
  text-align: center;
  max-width: 13%;
  min-width: 13%;
}

.before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.inner {
  display: inline-block;
  vertical-align: middle;
}

.toggle_team_button:hover {
  cursor: pointer;
}

.toggle_team_button {
  text-align: center;
  width: 50%;
}

.toggle_team_button_active {
  background: #6e6e6e;
}

