.game_stats_header {
    color: aliceblue;
    overflow: hidden;
}

.score_board_table_head {
    height: 48px;
    background:#0c815e;
    font-size: large;
    text-align: center;
    width: 100%
}

.score_board_table_head::before {
    content: "";
    display: inline-block;
    min-height: inherit;
    height: 100%;
    vertical-align: middle;
}

.score_board_content {
    width: 100%;
    background: #575757;
}

.main_block {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main_block_item {
    width: 33.33%;
    font-size: medium;
    padding-bottom: 10px;
    text-align: center;
}

.date_of_match_block {
    width: 100%;
    text-align: center;
}

