h2 {
    text-align: center;
}
.championship_page h3 {
    color: #cbc4b5;
    padding-top: 30px;
    padding-left: 30px;
}

.championship_page > div {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin-top: 20px;
    border-radius: 5px;
}